Who do you want to see?

<form action='/venues' method='get'>
	<input type="radio" name="band_name" value="Bobby & Bita">Bobby & Bita<br>
	<input type="radio" name="band_name" value="The Beliebers">The Beliebers<br>
		<input type="radio" name="band_name" value="The Beatles">The Beatles<br>

		<input type="submit">
	</form>


