Where do you want to see them?

<form action='/area' method='get'>
	<input type="radio" name="venue_name" value="B&B's Bowl">B&B's Bowl<br>
	<input type="radio" name="venue_name" value="The Breek">The Breek<br>
	<input type="radio" name="venue_name" value="The Heavens">The Heavens<br>

	<input type="hidden" name="band_name" value="<%=@artist%>" >

		<input type="submit">
	</form>


